@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-hero-pattern{
background-image: url('../public/img/Image.png');
} 
.ads{
    box-shadow: 0px 32px 96px -8px rgba(0, 0, 0, 0.06);
}

/* costum scroll bars */
*::-webkit-scrollbar {
    background: transparent;  
    width: 6px;
    height: 6px;
}
*:hover::-webkit-scrollbar-thumb {
 background: rgb(218, 218, 218); 
 border-radius: 3px;
}
*::-webkit-scrollbar-thumb {
    background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: rgb(218, 218, 218);
}